{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      		<div class="container">
        		<a class="navbar-brand" href="{% url 'home' %}">Cryptography</a>
      		</div>
  		</nav>

		<div class = "container mx-auto">
		<!-- <button type="button" class="m-5 mr-5 btn btn-success w-25"><a href="{% url 'encrypt' %}">Send an encrypted message</a></button> -->
		<a href="{% url 'encrypt' %}" class="m-5 mr-5 btn btn-success w-25" role="button">Send an encrypted message</a>
		<a href="{% url 'decrypt' %}" class="m-5 ml-5 btn btn-info w-25" role="button">Decrpyt a message</a>
		

	</body>

</html>